#LoginContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5.0rem;
    margin: auto;
}

#LoginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3rem;
}

#TextLogin{
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}


#TextLogin > a {
    color: #3196F8;
}

#ImgLS{
    width: 23rem ;
    height:40rem ;
}

#ImgLS > img {
    width: 23rem ;
    height: 40rem;
}
