#Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7.0rem;
    align-items: center;
    background-color: #81C784;
    width: 100%;
    height: 100%;
}

#Logo-Input{
    display: flex;
    flex-direction: row;
    gap: 1.0rem;
    justify-content: center;
    align-items: center;
}

 a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a > img{
    height: 5.0rem;
}

#Buttons{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}

